* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #181818;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

li {
  list-style: none; }

ul {
  list-style-type: none;
  text-align: center; }

a {
  text-decoration: none;
  font-size: 1.4em;
  color: white; }

.medio-uno, .medio-tres, .medio-cinco {
  margin: 10px;
  display: flex;
  border-radius: 100%; }

.medio-dos, .medio-cuatro {
  margin: 10px;
  display: flex;
  border-radius: 100%;
  margin-top: 150px; }

.logo-footer-uno, .logo-footer-dos, .logo-footer-tres, .logo-footer-cuatro {
  margin: 12px;
  display: flex;
  color: white;
  background-color: white;
  border-radius: 100%; }

/* NAV BAR */
.logo {
  display: flex;
  justify-content: left;
  width: 80px;
  height: 80px;
  border-radius: 207px;
  margin-top: 3px;
  margin-left: 5px; }

.lista-uno {
  text-align: center;
  padding: 20px 120px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600; }
  .lista-uno li {
    display: inline-block;
    list-style: outside none none;
    margin: .3em 1em;
    padding: 0; }
  .lista-uno a {
    padding: .5em .8em;
    color: rgba(255, 255, 255, 0.682);
    position: relative;
    text-decoration: none;
    font-size: 1em; }
    .lista-uno a::before {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      transition: all .35s ease;
      opacity: 0;
      content: '';
      right: 0;
      top: 0;
      border-top: 3px solid red;
      border-right: 3px solid red;
      transform: translate(-100%, 50%); }
    .lista-uno a::after {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      transition: all .35s ease;
      opacity: 0; }
    .lista-uno a:after {
      content: '';
      left: 0;
      bottom: 0;
      border-bottom: 3px solid red;
      border-left: 3px solid red;
      transform: translate(100%, -50%); }
    .lista-uno a:hover {
      color: red; }
      .lista-uno a:hover:before {
        transform: translate(0, 0);
        opacity: 1; }
      .lista-uno a:hover:after {
        transform: translate(0, 0);
        opacity: 1; }

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  width: 100%; }

/*-----------------------*/
/* ANIMACION EN NAV BAR */
.menu-conteiner {
  background-color: #121213;
  border-radius: 40px;
  width: 99.5%;
  margin: auto; }
  .menu-conteiner img:hover {
    border: 1px solid red; }

/*-----------------------*/
/* ANIMACION "VER CATALOGO" */
.vercatalogo {
  color: white;
  margin-left: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 11%; }
  .vercatalogo:hover {
    color: red; }

/* -----------------------  */
/* INICIO */
.titulo {
  text-align: center;
  font-size: 3.3em;
  padding: 40px; }

.parrafo-uno {
  text-align: center;
  font-size: 2.3em;
  color: #cac1c1; }

.titulo-dos {
  text-align: center;
  font-size: 2.5em;
  color: white; }

.titulos {
  color: white;
  font-size: 1.8em;
  margin: 5px 0px 0px 0px;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.281);
  display: flex;
  justify-content: center; }

.titulo-tres {
  font-size: 2.5em;
  color: white; }

.titulo-cuatro {
  font-size: 2.5em;
  color: white; }

.section-clientes {
  text-align: center;
  padding: 50px; }
  .section-clientes h2 {
    margin-top: 40px;
    color: white; }

.parrafo-dos {
  font-size: 2em;
  color: white;
  border-radius: 45px; }

.titulo-inicio h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0px; }
  .titulo-inicio h1::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%; }

/*----------------------*/
/* CARROUSEL DE SKINS*/
.skin-inicio {
  box-shadow: 0 0 20px 0 rgba(46, 45, 45, 0.2);
  margin-top: 20px;
  margin-left: 20px;
  width: auto;
  height: 20%; }
  .skin-inicio img {
    width: 175px;
    height: 125px;
    margin-left: 50px;
    transition: all 1s ease; }
    .skin-inicio img:hover {
      transform: scale(1.2); }
  .skin-inicio p {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    text-decoration: none; }

/* --------------------*/
/* INFORMACION */
.inf-conteiner div p {
  color: white;
  margin-top: 10px;
  width: 100%; }

.inf-conteiner .row {
  width: 100%; }

.section-info h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0px; }
  .section-info h2::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%; }

/* ----------------------- */
/* MEDIOS DE PAGO */
.section-medios div img {
  width: 200px;
  height: 200px;
  border-radius: 207px;
  background-color: white;
  border-radius: 47%; }

.section-medios h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0px;
  color: white; }
  .section-medios h2::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%; }

.section-medios .row {
  width: 100%; }

.section-clientes h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0px;
  color: white; }
  .section-clientes h2::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%; }

/* FOOTER */
h2 {
  color: white; }

.logos-footer {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  width: auto; }
  .logos-footer li a img {
    width: 40px;
    height: 40px;
    margin-bottom: 0px;
    border: 1px solid white;
    border-radius: 100%; }
    .logos-footer li a img:hover {
      border: 1px solid red;
      transform: rotate(360deg); }

.copyright {
  margin-top: 40px;
  font-size: 0.7em;
  color: white;
  display: flex;
  justify-content: center; }

.contacto {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  margin: 2% 0;
  margin-left: 10%; }

.redes {
  margin-top: 2%;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  width: 90%; }

.contacto-uno {
  margin-top: 1.5%; }

.contacto-dos {
  margin-top: 1.5%; }

.contacto-tres {
  margin-top: 1.5%; }

.footer-contacto ul li p {
  color: white;
  margin-top: 20px;
  width: auto; }

.footerbs {
  border-top: 1px white solid; }

/* -------------------- */
/* TIENDA */
.body-tienda {
  background: #181818; }

.tienda {
  width: 90%;
  margin: auto; }
  .tienda h1 {
    color: #d3c5c5;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px; }
    .tienda h1::after {
      content: '';
      width: 99%;
      height: 1px;
      background: #c7c7c7af;
      margin: 20px 0px;
      margin-left: 0%; }

.Tienda-conteiner {
  display: flex; }

.category-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em; }
  .category-list .category-item {
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 1.2em; }
  .category-list li a {
    display: block; }

.titulo-categorias {
  color: #cdb8b8;
  margin-bottom: 10px; }

.category-item:hover {
  color: red; }

.skin-list {
  border-radius: 20px;
  margin-bottom: 2em; }
  .skin-list .skin {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2);
    border: 1px solid white; }
    .skin-list .skin img {
      width: 100%; }
  .skin-list div img {
    width: 160px;
    height: 114px; }
  .skin-list a {
    width: 100%; }

.skin {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 250px; }
  .skin p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 0;
    text-align: center;
    text-decoration: none;
    font-size: 0.7em;
    color: white;
    margin: 5px 0px; }
  .skin img {
    transition: all 1s ease-in; }
    .skin img:hover {
      transform: scale(1.2); }

.filtros {
  color: rgba(255, 255, 255, 0.897); }

.nav-filtro {
  width: 200px;
  margin: auto;
  background-color: #333;
  font-size: 9px;
  border-radius: 20px;
  margin-right: 63.2%;
  margin-bottom: 20px; }

.filtro-defecto {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0px; }
  .filtro-defecto > li > a {
    display: block;
    padding: 6px 20px;
    color: white;
    text-decoration: none; }
  .filtro-defecto > li:hover {
    background-color: red;
    border-radius: 10px;
    width: 100%; }
  .filtro-defecto li:hover .menu-vertical-tienda {
    display: block; }

.menu-vertical-tienda {
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 0px; }
  .menu-vertical-tienda li:hover {
    background-color: red; }
  .menu-vertical-tienda li a {
    display: block;
    color: white;
    padding: 6px;
    text-align: left; }

/* ---------------------- */
/* COMO VENDER */
.main-vender {
  margin: 20px 100px; }

.titulo-vender {
  text-align: center; }

.texto-vender-uno {
  font-size: 1.2em;
  color: white; }

.img-vender {
  display: flex;
  justify-content: center; }

.texto-vender {
  font-size: 1.2em;
  color: white; }

.prim-fila {
  margin: 40px 0px; }

.seg-fila {
  margin: 40px 0px; }

/* ------------------- */
/* CONTACTO */
.titulo-contacto h1 {
  color: #d3c5c5;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0px; }
  .titulo-contacto h1::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%; }

body {
  background: #181818;
  color: #fff;
  padding: 0 1.5em; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em; }

ul {
  list-style: none;
  padding: 0; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3); }

.contact-wrapper > * {
  padding: 1em; }

.contact-form {
  background: #222222; }

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.contact-form form label {
  display: block; }

.contact-form form p {
  margin: 0;
  padding: 1em; }

.contact-form form .block {
  grid-column: 1 / 3; }

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031; }

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em; }

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0; }

/* CONTACT INFO */
.contact-info {
  background: #000; }

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0; }

.logo-contacto {
  border-radius: 100%;
  width: 100px;
  height: 100px; }

/* ----------------------- */
/* RESPONSIVE MOBILE */
@media screen and (max-width: 426px) {
  .body-inicio h2 {
    font-size: 1.2em; }
  .lista-uno {
    width: 100%;
    text-align: center;
    padding: 0px 0px;
    text-transform: none;
    text-align: center; }
  .logo {
    width: 50px;
    height: 50px; }
  .skin-inicio {
    margin: 20px 0px 0px 0px; }
    .skin-inicio img {
      width: 90px;
      height: 50px;
      margin-left: 35px; }
    .skin-inicio p {
      font-size: 0.5em;
      margin: 0px 0px 0px 10px; }
  .carousel-indicators {
    display: none; }
  .vercatalogo {
    font-size: 0.6em;
    width: 18%;
    margin: 10px 0px 0px 250px;
    border-bottom: 0.5px solid rgba(255, 0, 0, 0.4);
    border-radius: 20%; }
  .inf-conteiner {
    text-align: center; }
    .inf-conteiner div p {
      font-size: 0.6em; }
    .inf-conteiner div img {
      width: 200px;
      height: 112px; }
  .fondo-conteiner-tres {
    display: none; }
  .fondo-conteiner-cinco {
    display: none; }
  .section-medios div img {
    width: 80px;
    height: 80px; }
  .medio-uno {
    margin: 0px; }
  .medio-dos {
    margin: 0px; }
  .medio-tres {
    margin: 0px; }
  .medio-cuatro {
    margin: 0px; }
  .medio-cinco {
    margin: 0px; }
  .clientes img {
    width: 300px;
    height: 300px; }
  .section-clientes {
    text-align: center; }
  .logos-footer {
    margin: 0px 60px 0px 0px; }
  .redes {
    margin: 0px 0px 0px 110px; }
  .copyright {
    font-size: 0.6em; }
  .texto-vender-uno {
    font-size: 0.7em;
    color: white;
    width: 100%; }
  .texto-vender {
    font-size: 0.7em;
    color: white;
    width: 100%; }
  .prim-fila img {
    width: 250px;
    height: 63px; }
  .main-vender {
    margin: 20px 10px; } }

.logos-footer {
  margin-right: 0px; }

.redes {
  margin-left: 32px; }

.navbar {
  border-radius: 20px;
  width: auto; }

/* ----------------- */
/* TIENDA */
.container-fluid {
  width: 100%; }

.skin-container {
  padding: 0px; }

.category-list .category-item {
  padding: 5px 0px;
  font-size: 1em; }
