* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    /* background-image: url("/html/img/fondo2.jpg"); */
    background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

.logo {float: left;
     width: 60px;
     height: 60px;
     border-radius: 207px;
     margin-top: 3px;
     margin-left: 5px;
}

.menu-conteiner img:hover {
    border: 1px solid rgb(255, 0, 0);
    transform:  rotate(360deg);
}

.vercatalogo {
    color: white;
    margin-left: 1050px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
} 

/* ANIMACION "VER CATALOGO" */

.vercatalogo:hover {
    color: red;
}

.menu-conteiner {
    background-color: rgb(18, 18, 19);
    border-radius: 40px;
    width: 99.5%;
    margin: auto;
}

li {list-style: none;}
ul {list-style-type: none;
text-align: center;}
a {text-decoration: none;
font-size: 1.4em;
color: black;}

/* INICIO ------------------ */

.lista-uno, .titulo, .section-dos, .parrafo-uno, .titulo-dos, .footer , .copy {text-align: center;}
.Inicio, .Comprar, .Vender, .Medios, .Contacto {color: rgb(202, 197, 197);}

.lista-uno {
    padding: 20px 120px;
    display: flex;
    justify-content: space-around;}

 /* ANIMACION EN NAVVAR --------------- */

 .lista-uno {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .lista-uno * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .lista-uno li {
    display: inline-block;
    list-style: outside none none;
    margin: .3em 1em;
    padding: 0;
  }
  
  .lista-uno a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 1em;
  }
  
  .lista-uno a::before,
  .lista-uno a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .lista-uno a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid red;
    border-right: 3px solid red;
    transform: translate(-100%, 50%);
  }
  
  .lista-uno a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    transform: translate(100%, -50%)
  }
  
  .lista-uno a:hover:before,
  .lista-uno a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .lista-uno a:hover {
    color: red;
  }

.titulos {
    color: white;
    font-size: 1.8em;
    margin: 5px 0px 0px 0px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.281);
    display: flex;
    justify-content: center;}

.titulo {font-size: 3.3em;
padding: 40px;}
   
.titulo-dos, .titulo-tres, .titulo-cuatro {font-size: 2.5em;
color: white;}

.section-uno {
    color: white;
}
.section-dos {
    border: 1px solid white;
    padding: 50px;}
.section-tres {
    text-align: center;
    border: 1px solid white;
    padding: 50px;}
.section-cuatro {
    text-align: center;
    border: 1px solid white;
    padding: 50px;}      
.parrafo-uno {
    font-size: 2.3em;
    color: #cac1c1;

}
    
.parrafo-dos {
    font-size: 2em;
    color: white;
    border-radius: 45px;
}

.titulo-inicio h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.titulo-inicio h1::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%;
}

/* .lista-skins-inicio {
    width: 100%;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: auto auto;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 5%; 
} */

.skin-inicio { 
    box-shadow: 0 0 20px 0 rgba(46, 45, 45, 0.2);
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    height: 20%;

}


.skin-inicio a img {
    width: 175px;
    height: 125px;
}

.skin-inicio img {
    width: 175px;
    height: 125px;
    margin-left: 50px;
}



.skin-inicio p {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    text-decoration: none;
}

.lista-skins-inicio a div p {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    text-decoration: none;
}


/* ANIMACION SKINS TIENDA */

.skin-inicio img:hover {
    transform: scale(1.2); 
}

.skin-inicio img {
    transition: all 1s ease;
}


/* INFOOOOO ----------------------- */

.inf-conteiner div p {
    color: white;
    margin-top: 10px;
    width: 100%;
    
}

.section-info {
    margin: 20px;
}

.section-info h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.section-info h2::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%;
}

/* .section-dos-conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: auto auto auto;
}

.section-dos-conteiner div p {
    color: white;
    font-size: 1.5em;
    text-align: left;
    margin: 1em;
}

.img-fondo {
    width: 100%;
    height: 100%;
}

.fondo-conteiner-uno, .fondo-conteiner-dos, .fondo-conteiner-tres, .fondo-conteiner-cuatro, .fondo-conteiner-cinco, .fondo-conteiner-seis, .fondo-conteiner-siete {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);
    margin: 10px;
 }

.fondo-conteiner-dos {
    grid-column: 2 / 4;}

.fondo-conteiner-seis {
    grid-column: 1 / 3;
} */

/* Medios de pago ------------------ */

.section-medios {
    margin: 70px;
}

.medio-uno, .medio-dos, .medio-tres, .medio-cuatro, .medio-cinco {
    margin: 10px;  
    display: flex;
    border-radius: 100%;
}

.medio-dos {
    margin-top: 150px;
}

.medio-cuatro {
    margin-top: 150px;
}

.section-medios div img {
    width: 200px;
     height: 200px;
     border-radius: 207px;
     background-color: white;
     border-radius: 47%;
}

.section-medios h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
    color: white;
}

.section-medios h2::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%;
}

/* FOOTER -------------------------- */

.container {
    margin: 20px;
}



.footer {
    display: grid;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);
   grid-template-columns: 50% 50%;
   grid-template-rows: auto auto auto; 
   margin-top: 20px;
}
.footer p, h1 {
    color: white;
}

.logo-footer-uno, .logo-footer-cuatro {
    margin: 10px;  
    display: flex; 
    color: white;
    background-color: white;
    border-radius: 100%;
}

.logo-footer-dos, .logo-footer-tres {
    margin: 10px;  
    display: flex; 
    color: white;
    background-color: white;
    border-radius: 50%;
}

.logos-footer {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-right: 100px;
}

.logos-footer li a img {
    width: 40px;
    height: 40px;
    margin-bottom: -6px;
    border: 1px solid white;
    border-radius: 100%;
}

.logos-footer li a img:hover {
    border: 1px solid rgb(255, 0, 0);
    transform:  rotate(360deg);
}

.copyright {
    grid-column: 1 / 3;
    margin-top: 30px;
    font-size: 0.8em;
    color: white;
    margin-left: 400px;
}

.contacto {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 2% 0;
    margin-left: 10%;
}

.redes {
    margin-top: 2%;
    margin-left: 155px;
}

.contacto-uno, .contacto-dos, .contacto-tres {
    margin-top: 1.5%;
}

.footer-contacto ul li p {
    color: white;
}

/* TIENDA -------------------------- */

.body-tienda {
    background: #181818;
}

.tienda {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.tienda h1 {
    color: rgb(211, 197, 197);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.tienda h1::after {
    content: '';
    width: 99%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 0%;
}

.Tienda-conteiner {
    display: flex;
}

.lista-categorias {
    display: flex;
    flex-direction: column;
    width: 15%;
    /* background: lightblue; */
    margin-right: 40px;
}

.lista-categorias .item-categoria {
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 1.2em;}

    .titulo-categorias {
        color: #cac1c1;
        margin-bottom: 10px;
        border-left: 3px solid #3a3636;
        border-bottom: 3px solid #3a3636;
    }

    .lista-categorias li a {
        display: block;
    }

    .item-categoria:hover {
        color: red;
    }

/* SKINS TIENDA ----------------------------- */

.lista-skins {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background: #222222;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .7);
}

.lista-skins .skin {
    width: 22%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);

}

.lista-skins .skin a img {
    width: 100%;
}

.lista-skins .skin a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    color: white;

}

.skin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: black; */
}

.lista-skins div img {
    width: 160px;
    height: 114px;
}

.filtros {
    color: rgba(255, 255, 255, 0.897);
}

.skin img:hover {
    transform: scale(1.2); 
    transition: all 1s ease-in
}

/* BOTON ORDENAR X DEFECTO - TIENDA  --------------------*/

.nav-filtro {
    max-width: 160px;
    margin: auto;
    background-color: #333;
    font-size: 10px;
    border-radius: 20px;
    margin-right: 66.9%; 
    margin-bottom: 20px;
}

.filtro-defecto {
    list-style: none;
    display: flex;
    justify-content: center;
}

.filtro-defecto > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.filtro-defecto > li:hover {
    background-color: red;
    border-radius: 10px;
}

.menu-vertical-tienda {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.filtro-defecto li:hover .menu-vertical-tienda {
    display: block;
}

.menu-vertical-tienda li:hover {
    background-color: red;
}


.menu-vertical-tienda li a {
    display: block;
    color: white;
    padding: 12px;
    text-align: left;
}


/* CONTACTO ----------------------------------- */

.titulo-contacto h1 {
    color: rgb(211, 197, 197);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.titulo-contacto h1::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%;
}

.body-contacto {
    background: #181818;
    color: white;
}

.header-contacto {
    max-width: 1170px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
}

.contacto-conteiner {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-conteiner > * {
    padding: 20px;
}

.contacto-formulario {
    background: #222222;
}

.contacto-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-formulario form .todo {
    grid-column: 1/3;
}

.contacto-formulario form p {
    margin: 0px;
    padding: 20px;
}

.contacto-formulario form button,
.contacto-formulario form input,
.contacto-formulario form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: none;
    border-bottom: 1px solid #D63031;
    outline: 0;
    color: white;
}

.contacto-formulario form button {
    background-color: #B70E21;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 20px;
}

.contacto-formulario form button:hover,
.contacto-formulario form button:focus {
    background: #D63031;
    color: white;
    transition: background-color 0.5s ease-out;
    outline: 0;
}

.contacto-info {
    background: black;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
    text-align: center;
    margin: 0px 0px 20px 0;
}

.contacto-info ul li {
    padding-bottom: 10px;
    text-align: center;
}

.contacto-conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo-contacto {
    width: 100px;
    height: 100px;
    border-radius: 207px;
}    








/* BOOSTRAP ------------- */

.navbar-brand img {
    height: 40px;
    width: 40px;
}



