* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181818;
    /* background-image: url("/html/img/fondo2.jpg"); */
    background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
}

.logo {float: left;
     width: 60px;
     height: 60px;
     border-radius: 207px;
     margin-top: 3px;
     margin-left: 5px;}

     .vercatalogo {
         color: white;
         margin-left: 1050px;
         display: flex;
         flex-direction: column;
         padding-bottom: 20px;
    }

.menu-conteiner {
    background-color: rgb(18, 18, 19);
    border-radius: 40px;
    width: 99.5%;
    margin: auto;
}

li {list-style: none;}
ul {list-style-type: none;
text-align: center;}
a {text-decoration: none;
font-size: 1.4em;
color: black;}

/* INICIO ------------------ */

.lista-uno, .titulo, .section-dos, .parrafo-uno, .titulo-dos, .footer , .copy {text-align: center;}
.Inicio, .Comprar, .Vender, .Medios, .Contacto {color: rgb(202, 197, 197);}

.lista-uno {
    padding: 20px 120px;
    display: flex;
    justify-content: space-around;}

.titulos {
    color: white;
    font-size: 1.8em;
    margin: 5px 0px 0px 0px;
    padding: 25px;
    border: 1px solid rgba(255, 255, 255, 0.281);
    display: flex;
    justify-content: center;}

.titulo {font-size: 3.3em;
padding: 40px;}
   
.titulo-dos, .titulo-tres, .titulo-cuatro {font-size: 2.5em;
color: white;}

.section-uno {
    color: white;
}
.section-dos {
    border: 1px solid white;
    padding: 50px;}
.section-tres {
    text-align: center;
    border: 1px solid white;
    padding: 50px;}
.section-cuatro {
    text-align: center;
    border: 1px solid white;
    padding: 50px;}
.footer {
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 40px;}
.logos-footer {
    padding-right: 1300px;
    padding-top: 22px;}       

.parrafo-uno {
    font-size: 2.3em;
    color: #cac1c1;

}
    
.parrafo-dos {
    font-size: 2em;
    color: white;
    border-radius: 45px;
}

.titulo-inicio h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.titulo-inicio h1::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%;
}

.lista-skins-inicio {
    width: 100%;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    grid-template-rows: auto auto;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: center;
    margin-right: 5%;
    
}

.skin-inicio { 
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);
    margin-top: 20px;
    margin-left: 20px;
}

.skin-inicio a img {
    width: 175px;
    height: 125px;
}

.skin-inicio img {
    width: 175px;
    height: 125px;
}

.skin-inicio a {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    text-decoration: none;
}


/* INFOOOOO ----------------------- */

.section-dos-conteiner {
    width: 100%;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: auto auto auto;
}

.section-dos-conteiner div p {
    color: white;
    font-size: 1.5em;
    text-align: left;
    margin: 1em;
}

.img-fondo {
    width: 100%;
    height: 100%;
}

.fondo-conteiner-uno, .fondo-conteiner-dos, .fondo-conteiner-tres, .fondo-conteiner-cuatro, .fondo-conteiner-cinco, .fondo-conteiner-seis, .fondo-conteiner-siete {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);
    margin: 10px;
 }

.fondo-conteiner-dos {
    grid-column: 2 / 4;}

.fondo-conteiner-seis {
    grid-column: 1 / 3;
}




/* TIENDA -------------------------- */

.body-tienda {
    background: #181818;
}

.tienda {
    max-width: 1100px;
    width: 90%;
    margin: auto;
}

.tienda h1 {
    color: rgb(211, 197, 197);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.tienda h1::after {
    content: '';
    width: 99%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 0%;
}

.Tienda-conteiner {
    display: flex;
}

.lista-categorias {
    display: flex;
    flex-direction: column;
    width: 15%;
    /* background: lightblue; */
    margin-right: 40px;
}

.lista-categorias .item-categoria {
    display: block;
    width: 90%;
    padding: 15px 0px;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 1.2em;}

    .titulo-categorias {
        color: #cac1c1;
        margin-bottom: 10px;
        border-left: 3px solid #3a3636;
        border-bottom: 3px solid #3a3636;
    }

/* SKINS TIENDA ----------------------------- */

.lista-skins {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    background: #222222;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .7);
}

.lista-skins .skin {
    width: 22%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .2);

}

.lista-skins .skin a img {
    width: 100%;
}

.lista-skins .skin a {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    color: white;

}

.skin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background: black; */
}

.lista-skins div img {
    width: 160px;
    height: 114px;
}

.filtros {
    color: rgba(255, 255, 255, 0.897);
}









.nav-filtro {
    max-width: 900px;
    margin: auto;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.filtro-defecto {
    list-style: none;
    display: flex;
    justify-content: center;
}

.filtro-defecto > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.filtro-defecto > li:hover {
    background-color: red;
}

.menu-vertical-tienda {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.filtro-defecto li:hover .menu-vertical-tienda {
    display: block;
}

.menu-vertical-tienda li:hover {
    background-color: red;
}


.menu-vertical-tienda li a {
    display: block;
    color: white;
    padding: 12px;
    text-align: left;
}


/* CONTACTO ----------------------------------- */

.titulo-contacto h1 {
    color: rgb(211, 197, 197);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
}

.titulo-contacto h1::after {
    content: '';
    width: 90%;
    height: 1px;
    background: #c7c7c7af;
    margin: 20px 0px;
    margin-left: 5%;
}

.body-contacto {
    background: #181818;
    color: white;
}

.header-contacto {
    max-width: 1170px;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
}

.contacto-conteiner {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-conteiner > * {
    padding: 20px;
}

.contacto-formulario {
    background: #222222;
}

.contacto-formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-formulario form .todo {
    grid-column: 1/3;
}

.contacto-formulario form p {
    margin: 0px;
    padding: 20px;
}

.contacto-formulario form button,
.contacto-formulario form input,
.contacto-formulario form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: none;
    border-bottom: 1px solid #D63031;
    outline: 0;
    color: white;
}

.contacto-formulario form button {
    background-color: #B70E21;
    color: black;
    border: 0;
    text-transform: uppercase;
    padding: 20px;
}

.contacto-formulario form button:hover,
.contacto-formulario form button:focus {
    background: #D63031;
    color: white;
    transition: background-color 0.5s ease-out;
    outline: 0;
}

.contacto-info {
    background: black;
}

.contacto-info h4,
.contacto-info ul,
.contacto-info p {
    text-align: center;
    margin: 0px 0px 20px 0;
}

.contacto-info ul li {
    padding-bottom: 10px;
    text-align: center;
}

.contacto-conteiner {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo-contacto {
    width: 100px;
    height: 100px;
    border-radius: 207px;
}    




