%logo-medios {
    margin: 10px;
	display: flex;
	border-radius: 100%;
}
%logo-medios-dos {
    margin: 10px;
	display: flex;
	border-radius: 100%;
	margin-top: 150px;
}

%logo-footer {
    margin: 12px;
    display: flex;
    color: white;
    background-color: white;
    border-radius: 100%;
}