/* COMO VENDER */
.main-vender {
	margin: 20px 100px;
}
.titulo-vender {
	text-align: center;
}
.texto-vender-uno {
	font-size: 1.2em;
	color: white;
}

.img-vender {
	display: flex;
	justify-content: center;
}
.texto-vender {
	font-size: 1.2em;
	color: white;
}
.prim-fila {
	margin: 40px 0px;
}
.seg-fila {
	margin: 40px 0px;
} 

/* ------------------- */